@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif; /**                                                                                                                                                                                                                                                                                                                                                                            задает шрифт*/
  background-color: #1c1c1c; /**задает цвет фона*/
  color: #fff; /**задает цвет*/
  margin: 0; /**пределяет внешний отступ на всех четырёх сторонах элемента*/
}

.btn {
  display: flex; /**позволяет всем элементам автоматически распределяться по доступному пространству, выравниваться и адаптироваться под размеры стола без необходимости постоянно корректировать их вручную*/
  align-items: center; /**ставит теккст кнопки на центр*/
  justify-content: center; /**ставит кнопку на центр*/

  width: 165px; /**ширина*/
  height: 50px; /**высота*/

  font-size: 16px; /**размер текста*/
  font-weight: 500; /**насыщеность текста*/
  text-transform: uppercase; /**буквы будут всегда большими*/

  background: #f6762c; /**фоновый цвет*/
  border-radius: 5px; /**округление кнопки или еще чегон-нибудь*/

  transition: opacity 0.3s; /**переход до прозрачности текста*/
}

.btn:hover {
  opacity: 0.8; /**прозрачность текста*/
}

.btn--small {
  width: 140px;
  height: 40px;
  font-size: 12px;
}

.btn2 {
  display: flex; /**позволяет всем элементам автоматически распределяться по доступному пространству, выравниваться и адаптироваться под размеры стола без необходимости постоянно корректировать их вручную*/
  align-items: center; /**ставит теккст кнопки на центр*/
  justify-content: center; /**ставит кнопку на центр*/

  width: 165px; /**ширина*/
  height: 50px; /**высота*/

  font-size: 16px; /**размер текста*/
  font-weight: 500; /**насыщеность текста*/
  text-transform: uppercase; /**буквы будут всегда большими*/

  background: #f6762c; /**фоновый цвет*/
  border-radius: 5px; /**округление кнопки или еще чегон-нибудь*/

  transition: opacity 0.3s; /**переход до прозрачности текста*/
}

.btn2:hover {
  opacity: 0.8; /**прозрачность текста*/
}

a {
  color: #fff; /**задает цвет*/
  text-decoration: none; /**убирает подчеркивание с слов*/
  font-size: 12pt; /**размер текста*/
}

ul {
  list-style: none; /**позволяет установить все свойства стиля списка одновременно*/
  padding: 0; /**устанавливает внутренние отступы со всех сторон*/
  margin: 0; /**определяет внешний отступ на всех четырёх сторонах элемента */
}

img {
  max-width: 100%; /**максимальная ширина*/
}

p {
  margin: 0; /**определяет внешний отступ на всех четырёх сторонах элемента */
}

p + p {
  margin-top: 15px; /**определяет внешний отступ в верхней части элемента */
}

.container {
  box-sizing: border-box;

  max-width: 1470px; /**максимальная ширина*/
  margin-left: auto; /**пределяет внешний отступ на всех четырёх сторонах элемента*/
  margin-right: auto; /**пределяет внешний отступ на всех четырёх сторонах элемента*/
  padding: 0 15px; /**пределяет внешний отступ на всех четырёх сторонах элемента*/
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; /**насыщеность текста*/
  margin: 0; /**пределяет внешний отступ на всех четырёх сторонах элемента*/
}

.header {
  padding: 25px 0; /**устанавливает внутренние отступы со всех сторон*/
}

.header .container {
  display: flex; /**позволяет всем элементам автоматически распределяться по доступному пространству, выравниваться и адаптироваться под размеры стола без необходимости постоянно корректировать их вручную*/
  justify-content: space-between; /**разделяет все карточки на равное расстояние*/
  align-items: center; /**центрирует текст*/
}

.header_list {
  display: flex; /**позволяет всем элементам автоматически распределяться по доступному пространству, выравниваться и адаптироваться под размеры стола без необходимости постоянно корректировать их вручную*/
  gap: 30px; /**задает отступы*/
}

.header_nav a {
  font-size: 14px; /**размер текста*/
  font-weight: 200; /**насыщеность текста*/
  line-height: 36px; /**межстрочный интервал*/
  opacity: 0.3; /**прозрачность текста*/
  transition: opacity 0.3s; /**переход до прозрачности текста*/
}

.header_nav a.active {
  opacity: 1; /**прозрачность текста*/
}

.header_nav a:hover {
  opacity: 0.9; /**прозрачность текста*/
}

/*! Приветственная секция */

.main {
}

.welcome {
  box-sizing: border-box; /**В этом случае свойства width/height обозначают то, что находится внутри padding*/
  min-height: 100vh; /**минимальная высота*/

  margin-top: -150px; /**определяет внешний отступ в верхней части элемента*/
  padding: 240px 0 0; /**устанавливает внутренние отступы со всех сторон*/

  background-image: url(./images/welcome-bg.jpg); /**задает картинку в контейнере*/
  background-image: no-repeat; /**не дает повторяться картинке в контейнере*/
  background-position: center; /**смещает картинку в центр контейнера*/
  background-size: cover; /**покрывает весь контейнер*/
}

.welcome_text {
  width: 500px; /**ширина всех текстов*/
}

.welcome_text-subtitle {
  font-size: 14px; /**размер текста*/
  margin-bottom: 7px; /**отступ после строки*/
}

.welcome_title {
  font-size: 58px; /**размер текста*/
  margin-bottom: 37px; /**отступ после строки*/
}

.dash {
  font-size: 18px; /**размер текста*/
  line-height: 21px; /**межстрочный интервал */
  opacity: 0.7; /**прозрачность текста*/
  margin-bottom: 42px; /**отступ после строки*/
}

/*! Список еды */

.list-food {
  padding: 100px 0; /**устанавливает внутренние отступы со всех сторон*/
}

.list-food .container {
  display: flex; /**позволяет всем элементам автоматически распределяться по доступному пространству, выравниваться и адаптироваться под размеры стола без необходимости постоянно корректировать их вручную*/
  justify-content: space-between; /**разделяет все карточки на равное расстояние*/
  flex-wrap: wrap; /**чтобы при столкновении картинки подстраивались под страницу */
  gap: 40px 10px; /**задаёт отступы между колонками и рядами */
}

.list-food_card {
  width: 260px; /**задаёт отступы между колонками и рядами*/
  text-align: center; /**вырванивает текст по центру*/

  overflow: hidden; /**управляет тем, как ведёт себя содержимое блочного элемента, если его размер превышает допустимую длину/ширину*/

  background: #312f30; /**фон*/
  border-radius: 10px; /**закругляет картинку*/
}

.food-list_img {
  width: 100%; /**максимальная ширина*/
  height: 175px; /**высота картинки*/
  object-fit: cover; /**дает пропоруиональности картинкам*/
}

.food-list_title {
  font-size: 20px; /**размер текста*/
  margin-bottom: 15px; /**отступ после строки*/
}

.food-list_descr {
  font-size: 16px; /**размер текста*/
  opacity: 0.7; /**прозрачность*/
}

/*! Заказ */

.order {
  background-color: #312f30; /**цвет */
  padding: 60px 150px; /**устанавливает внутренние отступы со всех сторон*/
}

.order .container {
  display: flex; /**позволяет всем элементам автоматически распределяться по доступному пространству, выравниваться и адаптироваться под размеры стола без необходимости постоянно корректировать их вручную*/
  flex-wrap: wrap; /*TODO/ дает возможность элементам переноситься если им не хватает места на одной строчке*/
  gap: 30px; /**задаёт отступы между колонками и рядами */
  align-items: center; /**центрирует элементы*/
  justify-content: space-between; /**разделяет все карточки на равное расстояние*/

  padding-right: 90px; /**устанавливает внутренние отступы справа*/
}

.order_img {
  max-width: 465px; /**максимальная ширина картинки*/
}

.order_text {
  max-width: 360px; /**максимальная ширина текста*/
}

.order_title {
  font-size: 44px; /**размер текста*/

  margin-bottom: 25px; /**отступ после title*/
}

.order_sub-title {
  opacity: 0.7; /**прозрачность*/
  margin-bottom: 15px; /**отступ после sub-title*/
}

.order_price {
  font-size: 20px; /**размер текста*/
  font-weight: 500; /**насыщеность текста*/
  letter-spacing: 0.1em; /**межстрочный интервал*/

  color: #f6762c; /**цвет цены*/
}

.order_price--old {
  text-decoration-line: line-through; /**перечиркивание текста*/
  opacity: 0.5; /**прозрачность*/
}

.order_price + .order_price {
  margin-left: 2px; /**отступ после order_price если после него идет еще один order_price*/
}

.order .btn {
  margin-top: 10px; /**отступ сверху текста*/
}

/*! Продукты */

.product {
  padding: 150px 0; /**устанавливает внутренние отступы со всех сторон*/
}

.product .container {
  display: flex; /*TODO/ переносит все элементы в одну строку */
  flex-wrap: wrap; /*TODO/ дает возможность элементам переноситься если им не хватает места на одной строчке*/
  gap: 30px; /**задаёт отступы между колонками и рядами */
  justify-content: center; /**элементы выстраиваются по центру родителя. */
}

.product_card {
  box-sizing: border-box; /**В этом случае свойства width/height обозначают то, что находится внутри padding*/

  width: 550px; /**ширина*/
  min-height: 300px; /**минимальная высота*/

  padding: 60px 20px 60px 290px; /**устанавливает внутренние отступы со всех сторон*/

  background-color: #4b3a3a; /**устанавливает фон цвета*/
  background-size: cover; /**устанавливает полное покрытие фоном*/
  background-repeat: no-repeat; /**запрещает фону повторяться*/
  background-position: center; /**устанавливает фон по центру*/
}

.product_card:nth-child(even) {
  padding-left: 30px; /**устанавливает внутренние отступы слева*/
  padding-right: 290px; /**устанавливает внутренние отступы справа*/
}

.product_title {
  font-size: 30px; /**размер текста*/
  margin-bottom: 20px; /**отступ после title*/
}

.product_descr {
  opacity: 0.7; /**прозрачность*/
  margin-bottom: 10px; /**отступ после descr*/
}

.product_price {
  font-weight: 500; /**насыщеность текста*/
  letter-spacing: 0.1em; /**межстрочный интервал*/

  color: #f6762c; /**цвет цены*/
}

.product_price + .product_price {
  margin-left: 2px; /**отступ после product_price если после него идет еще один product_price*/
}

.product_price--old {
  text-decoration-line: line-through; /**перечиркивание текста*/

  opacity: 0.5; /**прозрачность*/
}

.product .btn {
  margin-top: 10px; /**отступ сверху текста*/
}

.card-queen {
  background-image: url("./images/product-1.jpg"); /**устанавливает картинку на фоне*/
}

.card-hut {
  background-image: url("./images/product-2.jpg"); /**устанавливает картинку на фоне*/
}

.card-king {
  background-image: url("./images/product-3.jpg"); /**устанавливает картинку на фоне*/
}

.card-papa {
  background-image: url("./images/product-4.jpg"); /**устанавливает картинку на фоне*/
}

/*! Слова автора  */

.feedback {
  padding-bottom: 200px; /**устанавливает внутренние отступы под объектом*/
}

.feedback_img {
}

.feedback .container {
  display: flex; /*TODO/ переносит все элементы в одну строку */
  flex-wrap: wrap; /*TODO/ дает возможность элементам переноситься если им не хватает места на одной строчке*/
  align-items: center; /**центрирует элементы*/
  justify-content: space-between; /**устанавливает текст на равное расстояние друг от друга по всей ширине*/
  max-width: 859px;
}

.feedback_text {
  margin: 0; /**определяет внешний отступ на всех четырёх сторонах элемента */
  text-align: center; /**центрирует элементы*/ /**центрирует текст*/

  width: 370px; /**ширина*/
}

.feedback_text::before {
  content: url("./images/icons/quote.svg"); /** устанавливает картинку перед текстом*/
}

.feedback_descr {
  opacity: 0.7; /**прозрачность*/
  margin: 30px 0; /**отступ 30px сверху*/
}

.feedback_author {
  font-style: normal; /**устанаваливает нормльный шрифт*/
  font-weight: 500; /**насыщеность текста*/
  font-size: 24px; /**размер текста*/
}

.feedback_subauthor {
  font-weight: 500; /**насыщеность текста*/
  font-size: 12px; /**размер текста*/
  opacity: 0.7; /**прозрачность*/
  display: block; /**не дает другим элементам становиться с feedback_subauthor на одной строке*/
}

/*! Загрузка меню */

.download-menu {
  background-color: #312f30; /**устанаваливает цвет фона*/
  padding: 60px 0; /**устанавливает внутренние отступы сверху объекта*/
}

.download-menu .container {
  display: flex; /*TODO/ переносит все элементы в одну строку */
  justify-content: space-around; /**объекты прижимаются к допустимым краям*/
  flex-wrap: wrap; /*TODO/ дает возможность элементам переноситься если им не хватает места на одной строчке*/
}
.download-menu_title {
  font-weight: 500; /**насыщеность шрифта*/
  font-size: 40px; /**размер шрифта*/
}

/*! Подвавл */

.footer {
  padding: 120px 0; /**устанавливает внутренние отступы сверху объекта*/
}

.footer .container {
  display: flex; /*TODO/ переносит все элементы в одну строку */
  justify-content: space-between; /**устанавливает текст на равное расстояние друг от друга по всей ширине*/

  display: grid; /** позволяет создавать адаптивные или отзывчивые макеты веб-страниц.*/
  grid-template-columns: 1fr 3fr 1fr; /** Задаёт количество грид-колонок. */
}

.footer a {
  font-size: 12px; /**размер шрифта*/
  color: rgba(255, 255, 255, 0.8); /**второй способ установки прозрачности*/
  transition: color 0.3s; /**переход до прозрачности текста*/
}

.footer a:hover {
  font-size: 12px; /**размер шрифта*/
  color: rgba(255, 255, 255, 0.9); /**второй способ установки прозрачности*/
}

.footer .footer_title {
  display: inline-block; /**элемент отображается как строчный элемент, но его содержимое может быть отформатировано как блок.*/
  font-weight: 500; /**насыщеность шрифта*/
  font-size: 16px; /**размер шрифта*/
  color: #fff; /** устнаваливает цвет */
  margin-bottom: 15px; /**отступ после footer_title*/
}

.footer_contacts {
  display: flex; /*TODO/ переносит все элементы в одну строку */
  flex-direction: column; /** используется для установки направления главной оси гибкого контейнера. */
  align-items: flex-start; /**отправляет элементы к началу страницы*/
}

.footer_logo {
  width: 70px; /**ширина*/
  margin-bottom: 20px; /**отступ после footer_logo*/
}

.footer_link {
  display: flex; /*TODO/ переносит все элементы в одну строку */
  align-items: center; /**центрирует текст*/

  gap: 10px; /**задаёт отступы между картинками и текстом */
}

.footer-link + .footer-link {
  margin-top: 10px; /**отступ сверху текста*/
}

.footer-link::before {
  width: 12px; /**ширина*/
  height: 12px; /**высота*/
}

.footer_link-mail::before {
  content: url("./images/icons/mail.svg"); /** устанавливает картинку перед текстом*/
}

.footer_link-web::before {
  content: url("./images/icons/global.svg"); /** устанавливает картинку перед текстом*/
}

.footer_list {
  display: grid; /** позволяет создавать адаптивные или отзывчивые макеты веб-страниц. */
  grid-template-columns: repeat(3, 1fr); /** Задаёт количество грид-колонок. */
}

.footer_list-item + .footer_list-item {
  margin-top: 15px; /**отступ сверху текста*/
}

.footer-socials-link + .footer-socials-link {
  margin-left: 7px; /**отступ слева от текста*/
}
